@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700&subset=latin,latin-ext);
nav,
footer {
  background-color: #1CB7C5;
  color: white;
  padding: 0.5em;
  text-align: right; }

nav a:hover,
footer a:hover {
  color: #1a1a1a; }

h1 a:hover {
  color: white; }

nav {
  position: fixed;
  width: 100%;
  top: 35px;
  height: 48px; }
  nav section {
    display: flex;
    max-width: 811px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    position: relative;
    /*souřadnice se počítjí podle section (určuje 0,0)*/ }
  nav img {
    height: 117px;
    box-shadow: none;
    position: absolute;
    top: -33px;
    left: -182px; }
  nav a {
    color: white;
    text-decoration: none;
    text-align: center; }
    nav a i {
      display: block !important;
      /*zakazuju přepsání vlastnosti*/
      font-size: 30px !important; }

footer {
  text-align: center; }
  footer section {
    display: flex;
    max-width: 811px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0; }
  footer section > * {
    white-space: nowrap;
    margin: 0 1em; }
  footer section > :first-child {
    margin-left: 0; }
  footer section > :last-child {
    margin-right: 0; }
  footer a {
    color: white;
    text-decoration: none; }

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: white;
  color: gray; }

article {
  padding: 1em;
  padding-top: 1em;
  padding-bottom: 40em;
  max-width: 800px;
  margin: auto;
  background-color: white; }

h1 {
  color: #FFD130;
  margin: 0;
  font-size: 42px;
  letter-spacing: 2px; }

h2 {
  color: #FFD130;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em; }

section h3 {
  color: #FFD130;
  font-weight: bolder;
  margin-bottom: 1em; }

#objednat h3 {
  margin-bottom: 0.5em; }

a {
  color: #1CB7C5;
  text-decoration: none; }

section#parametry {
  display: flex;
  clear: both;
  justify-content: space-between;
  align-items: center; }

img {
  margin: 1em; }

img.round {
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

p {
  margin-top: 0;
  margin-bottom: 1em; }

label {
  display: block;
  cursor: pointer;
  margin-bottom: 1em; }
  label div {
    display: inline-block;
    width: 12em;
    color: #1CB7C5; }

fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid #FFD130;
  border-radius: 1em; }

input,
textarea {
  font-size: 1.5em;
  outline: none;
  background-color: white; }

input:focus,
textarea:focus {
  background-color: #e6e6e6; }

input {
  border: 2px solid #FFD130;
  background-color: white;
  padding: 0.5em;
  border-radius: 1em; }

output {
  font-size: 2em;
  font-weight: bold;
  color: #1CB7C5;
  padding: 0;
  padding-right: 0.5em; }

.mena {
  font-size: 2em;
  font-weight: bold;
  color: #1CB7C5;
  display: inline; }

.cena {
  color: #1CB7C5;
  font-size: 1.17em;
  font-weight: bolder;
  padding: 0;
  width: 192px; }

fieldset legend {
  color: #FFD130; }

textarea {
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #FFD130;
  border-radius: 16px;
  resize: none; }

button {
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: #1CB7C5;
  color: white;
  border: 0; }

button:hover {
  box-shadow: none;
  cursor: pointer;
  background-color: #127982; }

section {
  padding-top: 120px; }
  section section {
    padding-top: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type='radio'] {
  background-color: red; }

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 15em; }

@media (max-width: 800px) {
  nav {
    position: static;
    height: auto; }
    nav a {
      margin: 0.5em; }
    nav img {
      display: none; }
  section {
    padding-top: 1em; } }

ul {
  list-style: none;
  padding-left: 0; }
  ul li {
    margin-bottom: 0.5em; }
    ul li:before {
      content: "\f0eb";
      font-family: FontAwesome;
      margin-right: 0.5em; }

.doruceni label div {
  width: 20em; }

.platba label div {
  width: 20em; }
