@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700&subset=latin,latin-ext);

$colorBase: #1CB7C5;
$colorHeader: #FFD130;
$colorBg: white;
$colorFont: gray;

nav,
footer {
  background-color: #1CB7C5;
  color: $colorBg;
  padding: 0.5em;
  text-align: right;
}

nav a:hover,
footer a:hover {
  color: darken($colorFont,40%);
}

h1 a:hover {
  color: $colorBg;
}

nav {
  position: fixed;
  width: 100%;
  top: 35px;
  height: 48px;
  section {
    display: flex;
    max-width: 811px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    position: relative;/*souřadnice se počítjí podle section (určuje 0,0)*/
  }

  img {
    height: 117px;
    box-shadow: none;
    position: absolute;
    top: -33px;
    left: -182px;
  }

  a {
    color: $colorBg;
    text-decoration: none;
    text-align: center;

    i {
      display: block!important;/*zakazuju přepsání vlastnosti*/
      font-size: 30px!important;
    }
  }
}

footer {
  text-align: center;

  section {
    display: flex;
    max-width: 811px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  section > * {
    white-space: nowrap;
    margin: 0 1em;
  }

  section > :first-child {
    margin-left: 0;
  }

  section > :last-child {
    margin-right: 0;
  }

  a {
    color: $colorBg;
    text-decoration: none;
  }
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: $colorBg;
  color: $colorFont;
}

article {
  padding: 1em;
  padding-top: 1em;
  padding-bottom: 40em;
  max-width: 800px;
  margin: auto;
  background-color: $colorBg;
}

h1 {
  color: $colorHeader;
  margin: 0;
  font-size: 42px;
  letter-spacing: 2px;
}

h2 {
  color: $colorHeader;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
}

section h3 {
  color:  $colorHeader;
  font-weight: bolder;
  margin-bottom: 1em;
}

#objednat h3 {
  margin-bottom: 0.5em;
}

a {
  color: $colorBase;
  text-decoration: none;
}

section#parametry {
  display: flex;
  clear: both;
  justify-content: space-between;
  align-items: center;
}

img {
  margin: 1em;
}

img.round {
  border-radius: 0.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

label {
  display: block;
  cursor: pointer;
  margin-bottom: 1em;

  div {
    display: inline-block;
    width: 12em;
    color: $colorBase;
  }
}

fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid $colorHeader;
  border-radius: 1em;
}

input,
textarea {
  font-size: 1.5em;
  outline: none;
  background-color: $colorBg;
}

input:focus,
textarea:focus {
  background-color: lighten($colorFont,40%);
}

input {
  border: 2px solid $colorHeader;
  background-color: $colorBg;
  padding: 0.5em;
  border-radius: 1em;
}

output {
  font-size: 2em;
  font-weight: bold;
  color: $colorBase;
  padding: 0;
  padding-right: 0.5em;
}

.mena {
  font-size: 2em;
  font-weight: bold;
  color: $colorBase;
  display: inline;
}

.cena {
  color: $colorBase;
  font-size: 1.17em;
  font-weight: bolder;
  padding: 0;
  width: 192px;
}

fieldset legend {
  color: $colorHeader;
}

textarea {
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $colorHeader;
  border-radius: 16px;
  resize: none;
}

button {
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: $colorBase;
  color: $colorBg;
  border: 0;
}

button:hover {
  box-shadow: none;
  cursor: pointer;
  background-color: darken($colorBase,15%);
}

section {
  padding-top: 120px;

  section {
    padding-top: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  background-color: red;
}

@media(max-width:800px){
  nav {
    position: static;
    height: auto;

    a {
      margin: 0.5em;
    }

    img {
      display: none;
    }
  }

  section {
    padding-top: 1em;
  }
}

ul {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 0.5em;
    &:before{
      content: "\f0eb";
      font-family: FontAwesome;
      margin-right: 0.5em;
    }
  }
}
